<div class="card">
  <div class="card-body">
    <h2 class="card-title"> You have new notification:</h2>
    <p class="card-text">
      <%= @notification.title %>
    </p>
    <p class="card-text">
      <%= @notification.description %>
    </p>
  </div>
</div>
